.scoreBoard {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 4rem;
    text-align: center;
  }

.scoreGuide {
    margin-top: 0;
  }

.score {
    font-size: 2rem;
    margin-bottom: 5rem;
    color: yellow;
  }

.scoreBottom {
    color: orange;
  }


@media (min-width: 1024px) and (max-width: 1366px) {
    .scoreBoard {
        padding-top: 1rem;
        text-align: center;
      }
    .scoreTitle {
        font-size: 1rem;
      }
    .scoreGuide {
        font-size: 0.6rem;
      }
    .score {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
    .scoreBoard {
        padding-top: 1rem;
        text-align: center;
      }
    .scoreTitle {
        font-size: 1rem;
      }
    .scoreGuide {
        font-size: 0.6rem;
      }
    .score {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 280px) and (max-width: 767.98px) {
    .scoreBoard {
        padding-top: 1rem;
        text-align: center;
      }
    .scoreTitle {
        font-size: 0.6rem;
      }
    .scoreGuide {
        font-size: 0.4rem;
      }
    .score {
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }
}